.pk-score {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-image: url("/images/stage.jpg");
  background-size: cover;
}

.pk-score__your {
  font-size: 5rem;
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 15vh;
  text-shadow: -1px 1px 5px black;
}

.pk-score__number {
  position: absolute;
  width: 100vw;
  text-align: center;
  font-size: 12rem;
  top: 25vh;
  font-weight: 800;
  text-shadow: -2px 2px 6px black;
}

.pk-score__review {
  position: absolute;
  width: 100vw;
  text-align: center;
  font-size: 3rem;
  top: 62vh;
  text-shadow: -1px 1px 5px black;
}

.pk-score__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
